
/*green for money*/
body{
	background-color: #419873;
}

#pageHeading{
	background-color: #398564;
}
#pageBody{
	background-color: #49ab81;
}

#infoTable{
	background-color: #52bf90;
}

.year{
	background-color: #317256;
}

#cycler{
	position:relative;

}
#cycler img{
	position:absolute;z-index:1;
	height:350;
	width:350;
	margin-top: 30px;
	border:10px solid rgb(255,255,255);
}
#cycler img.active{
	z-index:3;
}