
/*green for money*/
body{
	background-color: #419873;
}

#pageHeading{
	background-color: #398564;
}
#pageBody{
	background-color: #49ab81;
}

#infoTable{
	background-color: #52bf90;
}

#year{
	background-color: #317256;
}