#top{
	margin-top: 25px;
}

#contactInfo{
	background-color:rgb(112,163,210);
}

#teaching{
	background-color: rgb(110,192,204);
}

#otherWork{
	background-color:rgb(150,73,231);
}

.textbackground{
	background-color: rgb(150,50,231);
	color:rgb(200,200,200);
	padding: 7px;
}


#education{
	background-color:rgb(141,114,231);
}

#heading{
	background-color: rgb(112,163,210);
}

#dropDowns{
	background-color:rgb(112,163,210);
}

body{
	background-color:rgb(79,108,110);
}

#heading2{
	background-color: rgb(110,192,204);
}

.resPub{
background-color:rgb(110,192,204);
}
#Pub{
	border: 5px solid black;
	
	padding-left: 10px;
	min-height: 265px;
}
#heading3{
	background-color: rgb(141,114,231);
	
}

#heading4{
	background-color: rgb(150,73,231);
	
}
#heading5{
	background-color: rgb(79,158,210);
	
}
#padded{
	padding-top: 5px;
	padding-bottom: 5px;
}

.paddedImage{
	padding: 10px;
}

.borderedImage{
	border: 10px inset lightblue;
}

#heightadjust{
	max-height: 400px;
}

#heightadjust2{
	max-height: 275px;
	border: 10px inset purple;
}

#bottom{
	margin-bottom: 25px;
}
#bottom2{
	margin-bottom: 15px;
}

.date{
	color: rgb(150,10,150);
}
#carthageCourses, #rooseveltCourses{
	border:5px outset lightblue;
}
