body{
	background-image:url('../images/angrycuddle.jpg');
	background-image: repeat;
}

.info{
	background-color: rgba(0,0,0,.6);
	color:white;
	padding-bottom: 20px;
}

#email, #butt{
	color:black;
}
 #websiteTopper{
 	background-color: rgba(0,0,0,.6);
	color:white;
 }