.images{
	float: left;
	max-width:455px;
	max-height:460px;
	padding: 20px;
}

.stuff{
	border-radius: 20px;
	background-color: rgba(255, 255, 255, .6);
	
	margin: 5px
}
body{
	background-image: url('../images/abstract.jpg');
	backgroun-image: repeat;
}
.bio{
	font-size: 150%;
}